{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldsrno">Sr. No.</label>
            <input id="fldsrno" type="text" class="form-control" placeholder="Sr. No." name="fldsrno" value="{{city.fldsrno}}">
        </div>
        <div class="col">
            <label for="fldYear">Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Year"
                   name="fldYear" value="{{city.fldYear}}">
        </div>
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge" value="{{city.fldAge}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldName">Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="City Latitude" name="fldName" value="{{city.fldName}}">
        </div>
        <div class="col">
            <label for="fldMovie">Movie</label>
            <input id="fldMovie" type="text" class="form-control" placeholder="City Longitude" name="fldMovie" value="{{city.fldMovie}}">
        </div>
    </div>

        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}